/* ============================================ *
 * Key Frames Animation
 * ============================================ */
@-webkit-keyframes nthfadeInUp {
  /* line 274, _theme_variables.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  /* line 280, _theme_variables.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes nthfadeInUp {
  /* line 288, _theme_variables.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  /* line 294, _theme_variables.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes nthfadeInDown {
  /* line 302, _theme_variables.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  /* line 308, _theme_variables.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes nthfadeInDown {
  /* line 316, _theme_variables.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  /* line 322, _theme_variables.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes nthRotateX {
  /* line 330, _theme_variables.scss */
  0% {
    opacity: 0;
    -webkit-transform: rotateY(40deg);
    transform: rotateY(40deg);
  }

  /* line 336, _theme_variables.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes nthRotateX {
  /* line 344, _theme_variables.scss */
  0% {
    opacity: 0;
    -webkit-transform: rotateY(40deg);
    transform: rotateY(40deg);
  }

  /* line 350, _theme_variables.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes nthfadeInRight {
  /* line 358, _theme_variables.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  /* line 364, _theme_variables.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes nthfadeInRight {
  /* line 372, _theme_variables.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  /* line 378, _theme_variables.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes nthfadeInLeft {
  /* line 386, _theme_variables.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  /* line 392, _theme_variables.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes nthfadeInLeft {
  /* line 400, _theme_variables.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  /* line 406, _theme_variables.scss */
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*image hotspot pulse*/
@-webkit-keyframes av_pulsate {
  /* line 415, _theme_variables.scss */
  0% {
    -webkit-transform: scale(0.1);
    opacity: 0.0;
  }

  /* line 416, _theme_variables.scss */
  50% {
    opacity: 0.7;
  }

  /* line 417, _theme_variables.scss */
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}

@keyframes av_pulsate {
  /* line 421, _theme_variables.scss */
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }

  /* line 422, _theme_variables.scss */
  50% {
    opacity: 0.7;
  }

  /* line 423, _theme_variables.scss */
  100% {
    transform: scale(1);
    opacity: 0.0;
  }
}

@keyframes pulse {
  /* line 427, _theme_variables.scss */
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  /* line 432, _theme_variables.scss */
  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }

  /* line 437, _theme_variables.scss */
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes hue {
  /* line 444, _theme_variables.scss */
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  /* line 448, _theme_variables.scss */
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes fa-spin {
  /* line 454, _theme_variables.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 458, _theme_variables.scss */
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes animation-rotate {
  /* line 466, _theme_variables.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  /* line 472, _theme_variables.scss */
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  /* line 478, _theme_variables.scss */
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  /* line 484, _theme_variables.scss */
  100% {
    transform: rotate(360deg);
  }
}

/* line 4, owl.theme.scss */
.owl-theme .owl-controls {
  margin-top: 0;
  text-align: center;
}

/* Styling Next and Prev buttons */
/* line 12, owl.theme.scss */
.owl-theme:hover .owl-controls .owl-buttons div, .owl-theme:hover .owl-controls .owl-nav div {
  display: block;
}

/* line 17, owl.theme.scss */
.owl-theme .owl-controls .owl-buttons div, .owl-theme .owl-controls .owl-nav div {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: none;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
/* line 40, owl.theme.scss */
.owl-theme .owl-controls .owl-buttons div:before, .owl-theme .owl-controls .owl-nav div:before {
  font-family: "nthTheshopier";
  font-size: 22px;
  line-height: 40px;
  color: #777;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 56, owl.theme.scss */
.owl-theme .owl-controls .owl-buttons div:hover, .owl-theme .owl-controls .owl-nav div:hover {
  background: #f6f6f6;
}

/* line 63, owl.theme.scss */
.owl-prev {
  left: -10px;
}
@media (min-width: 768px) {
  /* line 63, owl.theme.scss */
  .owl-prev {
    left: 0;
  }
}

/* line 71, owl.theme.scss */
[dir='rtl'] .owl-prev {
  right: -10px;
  left: auto;
}
@media (min-width: 768px) {
  /* line 71, owl.theme.scss */
  [dir='rtl'] .owl-prev {
    right: 0;
  }
}

/* line 80, owl.theme.scss */
.owl-prev:before {
  content: "k";
}

/* line 84, owl.theme.scss */
[dir='rtl'] .owl-prev:before {
  content: "j";
}

/* line 89, owl.theme.scss */
.owl-next {
  right: -10px;
}
@media (min-width: 768px) {
  /* line 89, owl.theme.scss */
  .owl-next {
    right: 0;
  }
}

/* line 97, owl.theme.scss */
[dir='rtl'] .owl-next {
  right: auto;
  left: -10px;
}
@media (min-width: 768px) {
  /* line 97, owl.theme.scss */
  [dir='rtl'] .owl-next {
    left: 0;
  }
}

/* line 106, owl.theme.scss */
.owl-next:before {
  content: "j";
}

/* line 110, owl.theme.scss */
[dir='rtl'] .owl-next:before {
  content: "k";
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
/* line 119, owl.theme.scss */
.owl-theme .owl-controls.clickable .owl-buttons div:hover, .owl-theme .owl-controls.clickable .owl-nav div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/
/* line 127, owl.theme.scss */
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

/* line 132, owl.theme.scss */
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

/* line 146, owl.theme.scss */
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */
/* line 153, owl.theme.scss */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
/* line 165, owl.theme.scss */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
