/*===== * Cart =====*/

.widget_shopping_cart_content .cart-header i,
.cart-wrapper .cart-icon-wrap i {
    display: inline-block;
    color: inherit;
    vertical-align: middle;
}

.cart-icon-wrap,
.cart-wrapper {
    position: relative;
}

.cart-wrapper .cart-icon-wrap .cart-count span {
    position: absolute;
    top: 20px;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 2.05;
    display: inline-block;
    font-size: 10px;
    color: var(--bs-white);
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    background-color: var(--bs-primary);
}

.widget_shopping_cart_content .cart-header,
.shopping-cart .cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bs-primary);
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart .cart-badge {
    color: var(--bs-white);
    font-size: 10px;
    margin: 0;
    width: 16px;
    height: 16px;
    line-height: 1.6;
    text-align: center;
    vertical-align: super;
    border-radius: 100px;
    display: inline-block;
    background-color: var(--bs-primary);
}

.widget_shopping_cart_content ul.cart-items,
div.shopping-cart ul.cart-items {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
}

.widget_shopping_cart ul.cart-items li,
div.shopping-cart ul.cart-items li {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 30px !important;
    list-style: none;
    font-size: 15px;
    position: relative;    
    border-bottom: 1px solid var(--bs-gray-light);
}

.widget_shopping_cart ul.cart-items li:last-child,
div.shopping-cart ul.cart-items li:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.widget_shopping_cart ul.cart-items li a:not(.remove),
div.shopping-cart ul.cart-items li a:not(.remove) {
    line-height: 10px;
}

.shopping-cart .cart-items .item-img {
    float: left;
    margin-right: 12px;
    width: 68px;
    height: 68px;
    text-align: center;
    border-radius: 0;
    line-height: 4.5;
    border: 1px solid var(--bs-gray-light);
}

.shopping-cart .cart-items .item-img img {
    margin: 0;
    width: 100%;
    vertical-align: baseline;
    border-radius: 0;
    float: none;
}

.shopping-cart .cart-items .item-name {
    display: block;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
}

.shopping-cart .cart-items a:not(:hover,:focus) .item-name {
    color: var(--bs-secondary);
}

.shopping-cart .cart-items .amount {
    font-size: 12px;
    font-weight: 600;
    margin-right: 0;
    color: #222;
}

.shopping-cart .cart-items .item-price {
    margin-top: 5px;
    margin-right: 0;
    color: var(--bs-secondary-dark);
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    vertical-align: text-bottom;
}

.shoppingcart-bottom .btn {
    padding: 11px 60px;
    line-height: 20px;
    font-size: 97%;
    letter-spacing: 0.35px;
}

.widget_shopping_cart .btn i,
.shopping-cart .btn i {
    font-size: 12px;
    margin-left: 2px;
    position: relative;
    top: -1px;
}

.widget_shopping_cart ul a.remove,
div.shopping-cart ul a.remove {
    float: right;
    margin-top: 0;
    width: 20px;
    height: 20px;
    line-height: 19px;
    text-align: center;
    border-radius: 100%;
    color: var(--bs-white) !important;
    background-color: var(--bs-primary);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.15);
}

.shopping-cart-total {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
}

.shoppingcart-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
    top: 10px;
    left: 10px;
}

.widget_shopping_cart_content .shoppingcart-bottom .btn {
    padding: 5px 20px;
}

/*===== // =====*/

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[data-selected=true] {
    background-color: var(--bs-primary-light);
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: var(--bs-primary);
}

.storebiz-content .container.woo-container {
    padding: 0;
}

.woo-container .row {
    width: 100%;
    flex-basis: 100%;
}

.storebiz-content .woocommerce div.product {
    margin-bottom: 0;
}

.woocommerce div.product:after {
    content: "";
    display: table;
    clear: both;
}

.woocommerce form.woocommerce-ordering {
    margin: 0 0 2em;
}

.storebiz-content .page-title {
    margin-bottom: 1.25rem;
}

/* Woo Product Style */

.woocommerce .woocommerce-ordering select.orderby {
    background-color: var(--bs-white);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
    border-color: #ececec;
    cursor: pointer;
}

.woocommerce p.woocommerce-result-count {
    margin: 0;
    padding: 13px 16px;
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.product-single {
    background-color: #ffffff;
    border: 1px solid var(--bs-gray-light);
    border-radius: 5px;
    position: relative;
    z-index: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.product-single:hover, .product-single:focus-within {
    border-color: transparent;
    padding-bottom: 10%;
}

.product-single .product-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: -1px;
    margin-bottom: 0;
    opacity: 0;
    border-radius: 5px;
    transform: scale(.98);
    transition: all .3s ease 0s;
    z-index: -1;
    margin-bottom: -30px;
    visibility: hidden;
    background: #ffffff;
    border: 1px solid var(--bs-gray-light);
    -webkit-box-shadow: 0px 10px 30px rgb(5 5 5 / 8%);
    box-shadow: 0px 10px 30px rgb(5 5 5 / 8%);
}

.product-single:hover .product-bg,
.product-single:focus-within .product-bg {
    opacity: 1;
    transform: scale(1);
    transition: opacity .3s ease 0s,visibility 0s ease 0s,transform .3s ease 0s;
    visibility: visible;
}

.woocommerce ul.products.columns-1 li.product {
    width: 100%;
    float: none;
    clear: both;
    margin: 0 0 2.992em;
}

@media (min-width: 768px) and (max-width: 991px) {
    .woocommerce ul.products.columns-3 li.product,
    .woocommerce-page ul.products.columns-3 li.product,
    .woocommerce ul.products.columns-4 li.product,
    .woocommerce-page ul.products.columns-4 li.product {
        width: 30.75%;
        float: left;
        margin: 0 2.58% 1.2em 0;
        clear: none !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .woocommerce ul.products.columns-3 li.product,
    .woocommerce-page ul.products.columns-3 li.product,
    .woocommerce ul.products.columns-4 li.product,
    .woocommerce-page ul.products.columns-4 li.product {
        width: 48%;
    }
}

@media (max-width: 575px) {
    .woocommerce ul.products.columns-2 li.product,
    .woocommerce-page ul.products.columns-2 li.product,
    .woocommerce ul.products.columns-3 li.product,
    .woocommerce-page ul.products.columns-3 li.product,
    .woocommerce ul.products.columns-4 li.product,
    .woocommerce-page ul.products.columns-4 li.product {
        width: 100%;
    }
}

.product-img {
   position: relative;
   overflow: hidden;
   text-align: center;
}

.woocommerce ul.products li.product a {
    display: inline-block;
}

.product-single .product-content a {
    color: var(--bs-secondary);
}

.product-single .product-content a:hover,
.product-single .product-content a:focus {
    color: var(--bs-primary);
}

ins .woocommerce-Price-amount.amount bdi {
    color: var(--bs-primary);
}

.woocommerce ul.products li.product .product-img a img {
    margin-bottom: 0;
}

.product-single .product-content-outer {
    padding: 18px 22px;
    text-align: center;
    position: relative;
    z-index: 0;
}

.woocommerce ul.products li.product .star-rating {
    max-width: 300px;
    display: inline-block;
}

.woocommerce .star-rating span::before, .woocommerce .star-rating::before {
    color: var(--bs-yellow);
    height: 1.2em;
    top: 0.5px;
}

.woocommerce ul.products li.product .product-single h3 {
    font-size: 18px;
    padding: 0;
    margin-bottom: 7px;
}

.woocommerce ul.products li.product div.price {
    font-size: 17.25px;
    line-height: 1.2;
    color: var(--bs-primary);
}

.woocommerce .product-single .product-action,
.woocommerce ul.products li.product .product-action {
    
}

.woocommerce ul.products li.product .product-action .button {
    margin-top: 0;
    white-space: nowrap;
    min-width: 34px;
}

.product-action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 16px;
    position: absolute;
    padding: 3px 0 0 0;
    opacity: 0;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    margin: 0 auto;
    height: max-content;
    top: 0;
    text-align: center;
    left: 15px;
    right: 15px;
    z-index: 1;
}

.woocommerce ul.products li.product .product-single:hover .product-action,
.woocommerce ul.products li.product .product-single:focus-within .product-action {
    opacity: 1;
    top: 81%;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.woocommerce ul.products li.product .product-action .button.add_to_cart_button {
    /*max-width: 34px;*/
    white-space: nowrap;
    background-color: var(--bs-primary);
    color: #ffffff;
}

.woocommerce ul.products li.product .product-action a.button.yith-wcqv-button {
    max-width: 34px;
    white-space: nowrap;
    background-color: #ffffff;
    border: 1px solid var(--bs-gray-light);
}

.woocommerce ul.products li.product .product-action a.button.product_type_external/*,
.woocommerce ul.products li.product .product-action .button.product_type_grouped*/ {
    max-width: 34px;
    white-space: nowrap;
    color: var(--bs-primary);
}

.woocommerce ul.products li.product .product-action a.button.product_type_external:before {
    content: "\f19a";
    font-family: var(--bs-font-awesome);
    margin-right: 5px;
    margin-left: -1px;
    color: #ffffff;
}

.woocommerce ul.products li.product .product-action a.button.yith-wcqv-button:before {
    content: "\f06e";
    font-family: var(--bs-font-awesome);
    margin-right: 5px;
    margin-left: -1px;
    color: var(--bs-secondary);
}

.woocommerce ul.products li.product a.delete_item:hover,
.woocommerce ul.products li.product a.delete_item:focus,
.woocommerce ul.products li.product .product-action a.button.yith-wcqv-button:hover:before,
.woocommerce ul.products li.product .product-action a.button.yith-wcqv-button:focus:before {
    color: var(--bs-primary);
}

.woocommerce ul.products li.product .product-action .button.product_type_grouped:before {
    content: "\f06e";
    font-family: var(--bs-font-awesome);
    margin-right: 5px;
    margin-left: -1px;
    color: #ffffff;
}

.woocommerce ul.products li.product a.wc-forward {
    margin-top: 0;
    margin-left: 5px;
    font-weight: 600;
    display: inline-block;
    padding: 0 16px;
    line-height: 35px;
    border-radius: 3px;
    white-space: nowrap;
    background-color: var(--bs-secondary);
    color: #ffffff;
}

.woocommerce-page.woocommerce-cart #content table.cart td.actions .coupon input.input-text[type="text"] {
    min-height: 34px;
}

.woocommerce #reviews #comments h3 {
    font-size: 28px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.woocommerce div.product .woocommerce-tabs .panel h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.related.products h3 {
    text-transform: capitalize;
}

.product .product-single ul.rate {
    margin-top: 15px;
    font-size: 16px;
}

.product .product-single ul.rate li i.fa.fa-star:before {
    margin-right: 5px;
}

.product .product-single ul.rate {
    transform: translateX(-100%);
    margin-top: -40px;
    font-size: 16px;
    width: 100%;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}

.product .product-single ul.rate li {
    background-color: rgb(17 17 17 / 0.7);
    display: inline-block;
    text-align: center;
    color: var(--bs-white);
    min-height: 40px;
    line-height: 40px;
    padding: 0 17px;
    border-radius: 0 20px 0 0;
}

.product .product-single:hover ul.rate,
.product .product-single:focus-within ul.rate {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

p.woocommerce-notice.woocommerce-notice--success {
    margin-bottom: 15px;
    padding: 15px;
    border-top: 2px solid transparent;
}

.woocommerce ul.order_details {
    padding: 15px 15px 0;
    background-color: var(--bs-white);
    border: 1px solid #d3ced2;
}

.woocommerce ul.order_details li {
    margin-bottom: 15px;
}

.woocommerce .woocommerce-order h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.woocommerce section.woocommerce-customer-details address {
    border-radius: 0;
    border: 1px solid #d3ced2;
    padding: 22px;
}

p.woocommerce-notice.woocommerce-notice--success,
div.woocommerce-info,
p.woocommerce-info,
li.woocommerce-info {
    border-color: var(--bs-primary);
    background-color: var(--bs-white);
    box-shadow: 0 6px 25px -5px rgb(0 0 0 / 0.12);
}

p.woocommerce-notice.woocommerce-notice--success a,
div.woocommerce-info a,
p.woocommerce-info a,
li.woocommerce-info a,
p.woocommerce-notice.woocommerce-notice--success:before,
div.woocommerce-info:before,
p.woocommerce-info:before,
li.woocommerce-info:before {
    color: var(--bs-primary);
}

.product .product-single a.added_to_cart.wc-forward {
    font-weight: 600;
    letter-spacing: 0.5px;
    display: block;
}

.dark-product .product-single {
    background-color: var(--bs-primary);
}

.dark-product .product-single h2,
.dark-product .product-single .woocommerce-Price-amount.amount {
    color: var(--bs-white);
}

.woocommerce .dark-product div.product-single a.button,
.woocommerce div.product-single .dark-product a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    color: var(--bs-primary);
    background-color: var(--bs-white);
}

.dark-product .product-single a.added_to_cart.wc-forward {
    color: var(--bs-white);
}

.single-product .product .product_title.entry-title {
    letter-spacing: 0.65px;
    font-size: 34px;
    margin-bottom: 3px;
}

.single-product .product p.price {
    margin-bottom: 10px;
}

.single-product .product .product_meta > span {
    display: block;
}

.single-product .product .single_add_to_cart_button {
    margin-left: 6px;
}

.woocommerce .col2-set div.col-2, .woocommerce-page .col2-set div.col-2,
.woocommerce .col2-set div.col-1, .woocommerce-page .col2-set div.col-1 {
    width: 48%;
    max-width: 100%;
}

span.woocommerce-input-wrapper {
    width: 100%;
}

.select2-container--default span.select2-selection--single {
    height: 34px;
    border-radius: 0;
    background-color: #fbfbfb;
    border-color: #e9e9ea;
}

.select2-container--default .select2-selection--single span.select2-selection__rendered {
    line-height: 34px;
}

.select2-container--default .select2-selection--single span.select2-selection__arrow {
    height: 30px;
}

.woocommerce form p.form-row {
    margin: 0 0 10px;
}

.woocommerce-checkout-review-order li {
    position: relative;
}

.woocommerce-checkout-review-order li label {
    margin-bottom: 0;
    vertical-align: middle;
    line-height: 1.5;
    display: inline-flex;
    align-items: center;
}

.woocommerce-checkout div#payment.woocommerce-checkout-payment {
    background-color: var(--bs-white);
    box-shadow: 0 3px 30px -6px rgb(0 0 0 / 0.15);
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
body.woocommerce-checkout #payment div.payment_box {
    background-color: var(--bs-primary-light);
    border: 2px solid var(--bs-primary);
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
body.woocommerce-checkout #payment div.payment_box::before {
    border-color: var(--bs-primary);
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    top: -0.95em;
}

.woocommerce-checkout-review-order #payment ul.payment_methods label img {
    height: 38px;
    margin-left: 0.75em;
}

.woocommerce-checkout #payment .payment_method_paypal a.about_paypal {
    padding: 0 10px;
    background-color: var(--bs-white);
    line-height: 30px;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0 0 10px -2px rgb(0 0 0 / 0.2);
}

.woocommerce-checkout .woocommerce-terms-and-conditions-wrapper {
    margin-bottom: 18px;
}

.woocommerce form .form-row textarea.input-text {
    padding: 7px;
}

.woocommerce .quantity .qty {
    padding: .25rem;
    min-height: 34px;
}

.woocommerce table.shop_table a.remove {
    background-color: var(--bs-primary);
    color: var(--bs-white) !important;
}

.woocommerce form .form-row input.input-checkbox,
.woocommerce form .form-row input.input-checkbox#terms {
    outline: none;
    outline-offset: unset;
    display: inline-block;
}

.woosl-button.add-to-cart,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    font-weight: 600;
    color: var(--bs-white);
    background-color: var(--bs-primary);
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
    padding: .393em .75em !important;
    line-height: 1.7;
}

.woosl-button.add-to-cart {
    border: none;
}

.woocommerce-page.woocommerce-cart #content table.cart td.actions .coupon input.input-text[type="text"] {
    padding: 6px 16px 6px;
    width: 100%;
    max-width: 180px;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled, .woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    color: var(--bs-white);
}

@media only screen and (min-width:992px) {
    .woocommerce-checkout #payment .payment_method_paypal a.about_paypal {
        position: absolute;
        right: 0;
    }
}

@media only screen and (max-width:991px) {

    .woocommerce ul.order_details li {
        float: none;
        border-right: 0;
        padding-bottom: 10px;
        border-bottom: 1px dashed #d3ced2;
    }

    .woocommerce p.woocommerce-result-count {
        display: block;
        text-align: center;
        width: 100%;
    }

    .woocommerce .woocommerce-ordering {
        display: block;
        width: 100%;
        margin-top: 0.5em;
    }

    .woocommerce .col2-set div.col-2, .woocommerce-page .col2-set div.col-2,
    .woocommerce .col2-set div.col-1, .woocommerce-page .col2-set div.col-1 {
        width: 100%;
        max-width: 100%;
    }

}

.product .sale-ribbon {
    top: 15px;
    left: 15px;
}

.woocommerce span.onsale {
    top: 35px;
    left: 35px;
}

.product .sale-ribbon, .woocommerce span.onsale {
    position: absolute;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 0 12px;
    line-height: 22px;
    display: inline-block;
    border-radius: 4px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--bs-white);
    background: #4fc577;
    box-shadow: 0 0 12px rgb(255 255 255 / 35%);
    z-index: 1;
}

.product .sale-ribbon:after, .woocommerce div.product span.onsale:after {
    opacity: 1;
    background-color: #4fc577;
    bottom: -3px;
    z-index: -1;
    border-radius: 3px;
}

.product-single .product-action a.add_to_cart_button:before {
    content: "\f07a";
    font-family: var(--bs-font-awesome);
    margin-right: 10px;
    margin-left: 0;
}

.product-action .yith-wcwl-add-button {
    margin-bottom: 0;
}

.woocommerce ul.products li.product a.delete_item,
.woocommerce ul.products li.product a.add_to_wishlist,
.woocommerce ul.products li.product .yith-wcwl-wishlistexistsbrowse,
.woocommerce ul.products li.product .compare,
.woocommerce ul.products li.product .add_to_wishlist {
    width: 34px;
    height: 34px;
    line-height: 1.5;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    color: var(--bs-secondary);
    background-color: #ffffff;
    vertical-align: bottom;
    border: 1px solid var(--bs-gray-light);
}

.woocommerce ul.products li.product .product-action .yith-wcwl-add-to-wishlist,
.woocommerce ul.products li.product .product-action > a {
    margin-right: 6px;
}

.woocommerce ul.products li.product .compare.button {
    padding: 5px 10px;
    line-height: 1.4;
    position: relative;
    z-index: 0;
}

.woocommerce ul.products li.product a.compare.button {
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    width: 37px;
    height: 34px;
    vertical-align: middle;
}

.woocommerce ul.products li.product a.compare.button:after {
    content: "\f021";
    color: #000000;
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2.1;
}

.woocommerce ul.products li.product a.compare.button:hover:after,
.woocommerce ul.products li.product a.compare.button:focus:after {
    color: var(--bs-primary);
}

.yith-wcwl-add-to-wishlist span.feedback {
    display: inline-block;
    line-height: 34px;
}

.woocommerce ul.products li.product .yith-wcwl-wishlistexistsbrowse i,
.woocommerce ul.products li.product .compare:hover,
.woocommerce ul.products li.product .add_to_wishlist:hover,
.woocommerce ul.products li.product .compare:focus,
.woocommerce ul.products li.product .add_to_wishlist:focus {
    color: var(--bs-primary);
}

.woocommerce ul.products li.product .yith-wcwl-wishlistexistsbrowse i,
.woocommerce ul.products li.product .add_to_wishlist i {
    margin-right: 0;
}

.woocommerce .yith-wcwl-wishlistexistsbrowse span {
    margin-left: 5px;
}

.yith_magnifier_gallery {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

.yith_magnifier_gallery li {
    display: inline-block;
    padding: 6px;
}

.yith_magnifier_gallery li a {
    padding: 5px;
    border: 1px solid var(--bs-gray-light);
}

.yith_magnifier_zoom_magnifier {
    border: 5px solid #ffffff !important;
    box-shadow: 0 0 25px rgb(0 0 0 / 15%);
}

.single-product.woocommerce .thumbnails div#slider-prev,
.single-product.woocommerce .thumbnails div#slider-next {
    width: 26px;
    height: 25px;
    overflow: hidden;
    color: var(--bs-secondary);
    background-color: #ffffff;
    background-image: none;
    border-radius: 3px;
    margin-top: -5px;
    opacity: 1;
    visibility: visible;
    display: block !important;
    border: 1px solid var(--bs-gray-light);
    -webkit-transition: var(--bs-transition);
    transition: var(--bs-transition);
}

.single-product.woocommerce .thumbnails div#slider-prev:hover,
.single-product.woocommerce .thumbnails div#slider-next:hover {
    background-color: var(--bs-primary);
    color: #ffffff;
}

.single-product.woocommerce .thumbnails div#slider-prev:after,
.single-product.woocommerce .thumbnails div#slider-next:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    line-height: 23px;
    text-align: center;
    font-family: var(--bs-font-awesome);
}

.single-product.woocommerce .thumbnails div#slider-prev {
    left: -7px;
}

.single-product.woocommerce .thumbnails div#slider-next {
    right: -3px;
}

.single-product.woocommerce .thumbnails:hover div#slider-prev {
    left: -6px;
}

.single-product.woocommerce .thumbnails:hover div#slider-next {
    right: -2px;
}

.single-product.woocommerce .thumbnails div#slider-prev:after {
    content: "\f104";
}

.single-product.woocommerce .thumbnails div#slider-next:after {
    content: "\f105";
}

.stock-progressbar-status {
    margin-bottom: 6px;
    line-height: 1.2;
    font-size: 92%;
}

.stock-progressbar-status span.total-sold {
    color: #82b735;
}

.stock-progressbar-status span.instock {
    color: var(--bs-primary);
}

.therm.outer-therm, .therm.inner-therm {
    border-radius: 100px;
}

.therm.outer-therm {
    margin-top: 8px;
    height: 11px !important;
    background: #efefef !important;
}

.therm.outer-therm .therm.inner-therm {
    height: 11px !important;
    background-color: var(--bs-primary) !important;
}

.therm.outer-therm .therm.inner-therm span {
    font-size: 10px;
    margin-top: -2px;
}

.yith-wcwl-add-button {
    margin-bottom: 8px;
    display: inline-block;
}

.yith-wcwl-add-to-wishlist {
    vertical-align: middle;
    display: inline-block;
}

.woocommerce ul.products li.product .product-action .yith-wcwl-add-to-wishlist {
    margin-top: 0;
    vertical-align: bottom;
}

.woocommerce ul.products li.product .product-action .yith-wcwl-add-to-wishlist i {
    margin-right: 0;
    margin-left: -1px;
}

.woocommerce a.compare.button,
.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a {
    display: inline-block;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid var(--bs-gray-light);
    border-radius: 5px;
    line-height: 1.5;
    padding: 5px 10px !important;
    color: var(--bs-secondary);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    -webkit-transition: var(--bs-transition);
    transition: var(--bs-transition);
}

.woocommerce a.compare.button:hover,
.woocommerce a.compare.button:focus,
.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a:hover,
.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a:focus {
    border-color: var(--bs-primary);
    background-color: var(--bs-primary);
    color: #ffffff;
}

.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a i {
    margin-right: 3px;
    font-size: inherit;
}

.woocommerce .wishlist_table tr td,
.woocommerce .wishlist_table tr th.product-checkbox,
.woocommerce .wishlist_table tr th.wishlist-delete {
    text-align: left;
}

.woosl-button.remove,
.woosl-button.add {
    border: 1px solid var(--bs-gray-light);
    background-color: #ffffff;
    color: var(--bs-secondary);
    border-radius: 5px;
    line-height: 20px;
    padding: 5px 10px;
    font-size: 14px;
}

.woosl-button.add:hover, .woosl-button.add:focus {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #ffffff;
}

.woosl-btn {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

button.woosl-button.remove {
    color: #ffffff;
    width: 32px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    z-index: 0;
}

button.woosl-button.remove:after {
    content: "\f014";
    color: var(--bs-secondary);
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.8;
    font-size: 16px;
    -webkit-transition: var(--bs-transition);
    transition: var(--bs-transition);
}

.woosl-button.remove:hover, .woosl-button.remove:focus {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: var(--bs-primary);
}

.woosl-button.remove:hover:after, .woosl-button.remove:focus:after {
    color: #ffffff;
}

/* My Account Page Start */

.woocommerce-account .addresses .title .edit,
.woocommerce table.my_account_orders td.woocommerce-orders-table__cell-order-number a,
.woocommerce-account .woocommerce-MyAccount-content p a {
    color: var(--bs-primary);
}

.woocommerce-MyAccount-navigation ul {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 0;
    list-style: none;
    margin: 0;
}

.woocommerce-MyAccount-navigation ul li a {
    display: block;
    padding: 10px 20px;
    line-height: 1.5;
    border-width: 0;
    border-style: solid;
    border-left-width: 2px;
    border-left-color: transparent;
    border-bottom-width: 1px;
    border-bottom-color: #e5e5e5;
    color: #2c3145;
    -webkit-transition: .3s all;
    transition: .3s all;
}

.woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce-MyAccount-navigation ul li a:focus {
    background-color: var(--bs-white);
    border-left-color: var(--bs-primary);
}

.woocommerce-account .woocommerce-MyAccount-content {
    border: 1px solid #e5e5e5;
    padding: 20px;
    background-color: #fbfbfb;
    min-height: 254px;
}

.woocommerce .woocommerce-Addresses {
    margin-top: 15px;
}

.woocommerce .woocommerce-Addresses .woocommerce-Address {
    border: 1px solid #e5e5e5;
    padding: 15px;
}

.woocommerce-account .addresses address {
    margin-bottom: 0;
}

.woocommerce-account .edit-account .woocommerce-form-row input.woocommerce-Input {
    min-height: 38px;
    padding: 8px 15px;
}

.woocommerce-account .edit-account .woocommerce-form-row em {
    margin-top: 5px;
    display: block;
}

.woocommerce-account .edit-account .woocommerce-form-row {
    display: inline-block;
}

.woocommerce-account .edit-account .woocommerce-Button {
    margin-top: 10px;
}

.woocommerce-Address-title {
    position: relative;
}

.woocommerce-Address-title a.edit {
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (max-width:991px) {
    .woocommerce .woocommerce-Addresses .woocommerce-Address {
        width: 100% !important;
        float: none !important;
    }
    .woocommerce .woocommerce-Addresses .woocommerce-Address:not(:last-child) {
        margin-bottom: 15px;
    }
}

/* My Account Page End */

.woocommerce-account .post-content .woocommerce h2 {
    font-size: 35px;
}

.woocommerce form .show-password-input, .woocommerce-page form .show-password-input {
    top: .45em;
}

.woocommerce span.onsale {
    min-height: auto;
}

.woocommerce form .form-row input.input-text {
    min-height: 35px;
    padding: 7px 16px;
}

.woocommerce table.shop_table {
    border-collapse: collapse;
}

.woocommerce table.shop_table th {
    color: var(--bs-primary);
    background-color: #f5f5f5;
}

.woocommerce .blockUI.blockOverlay {
    z-index: 1 !important;
}

.woocommerce form .woocommerce-address-fields .form-row label {
    display: inline-block;
}

/* YIth Plugin */

.woocommerce table.wishlist_table {
    font-size: 96%;
}

.woocommerce .wishlist-title h2 {
    padding: 8px 16px;
    line-height: 1;
    font-size: 30px;
    background-color: #ffffff;
    border: 1px solid var(--bs-gray-light);
}

.hidden-title-form {
    margin-bottom: 30px !important;
}

.woocommerce .wishlist-title a.show-title-form {
    margin-left: 10px;
}

.woocommerce .wishlist-title a.show-title-form i {
    margin-right: 3px;
}

.wishlist_table .product-add-to-cart a {
    padding: 4px 8px;
    background-color: var(--bs-primary);
    color: #ffffff;
    display: inline-block !important;
    border-radius: 4px;
    text-decoration: none;
}

a.save-title-form,
a.hide-title-form {
    box-shadow: 0 0 7px 3px rgb(0 0 0 / 15%) !important;
    border-radius: 100%;
    font-size: 15px;
}

a.save-title-form:hover,
a.hide-title-form:hover,
a.save-title-form:focus,
a.hide-title-form:focus {
    background-color: var(--bs-primary);
    color: #ffffff;
}

a.save-title-form {
    margin-left: 3px;
}

.yith-wcwl-share li a {
    border-radius: 100%;
    min-width: 34px;
    min-height: 34px;
    line-height: 1.5;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 133px;
    display: inline-block;
    height: 34px;
    min-height: 34px;
}

/* Login / Register */
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    border: none;
    padding: 0;
    margin-top: .5em;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme span {
    vertical-align: middle;
    margin-left: 2px;
}

.woocommerce-form-coupon-toggle {
    margin-bottom: 1.5rem;
}

.woocommerce-notices-wrapper {
    margin-bottom: 15px;
}

/* Product Single Page */

.storebiz-deals-products .single-product {
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.storebiz-deals-products .single-product div.product div.summary {
    margin-bottom: 0;
}

.storebiz-deals-products div.product div.images {
    width: 40%;
}

.storebiz-deals-products div.product div.summary {
    width: 55%;
}

.woocommerce div.product form.cart {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

.woocommerce div.product form.cart+a.compare.button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

.woocommerce div.product .product_meta {
    margin-top: 1.2rem
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: var(--bs-primary);
}

.woocommerce div.product form.cart .button, .woocommerce div.product form.cart+a.compare.button {
    white-space: nowrap;
    margin-bottom: 8px;
}

.woocommerce #content div.product div.images {
    border: 1px solid var(--bs-gray-light);
    padding: 22px;
}

.woocommerce #content div.product div.summary {
    padding: 0 32px;
}

/* Product Details Tab */

.woocommerce div.product .woocommerce-tabs .panel {
    padding: 30px;
    border: 1px solid var(--bs-gray-light);
    border-radius: 0 5px 5px 5px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    margin-left: 2px;
    margin-bottom: 0;
    padding: 0;
    overflow: unset;
    display: block;
    width: 100%;
    max-width: max-content;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    display: none!important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid var(--bs-gray-light);
    background-color: #ffffff;
    border-radius: 0;
    border-bottom: 0;
    margin: 0 -3px;
    -webkit-transition: var(--bs-transition);
    transition: var(--bs-transition);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:first-child {
    border-radius: 8px 0 0 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child {
    border-radius: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: var(--bs-primary);
    color: #ffffff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
    box-shadow: none!important;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #efefef;
    border-radius: 4px;
    transform: rotate( 45deg );
    border: none;
    opacity: 0;
    -webkit-transition: var(--bs-transition);
    transition: var(--bs-transition);
    z-index: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
    background-color: var(--bs-primary);
    opacity: 1;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    letter-spacing: 0.25px;
    font-weight: 500;
    font-size: 90%;
    padding: 0.66em 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: #ffffff;
}

/* Product Gallery */
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 30%;
    margin-top: 10px;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    margin-right: 9px;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:last-child {
    margin-right: 0;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) a {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    display: inline-block;
    -webkit-transition: var(--bs-transition);
    transition: var(--bs-transition);
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) a:hover,
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) a:focus {
    border-color: var(--bs-primary);
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) img {
    padding: 4px;
}
